 /*Структура дерева */
 #file-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #file-tree .folder {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  #file-tree .file {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
  }
  
  #file-tree .folder:before {
    content: "📁 ";
  }
  
  #file-tree .folder.open {
    font-weight: 700;
  }
  
  #file-tree .folder.hidden + ul {
    display: none;
  }

  #file-tree .file {
    display: block;
  }

  #file-tree .file:before {
    content: "🗒️ ";
  }



  /* Контекст меню */
  .fold-context-menu {
    border: 2px black solid;
    width: 300px;
    height: 200px;
    display: none;
    position: absolute;
    font-size: 30px;
  }