 /*Структура дерева */
 #file-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #file-tree .folder {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  #file-tree .file {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 10px;
  }
  
  #file-tree .folder:before {
    content: "📁 ";
  }
  
  #file-tree .folder.open {
    font-weight: 700;
  }
  
  #file-tree .folder.hidden + ul {
    display: none;
  }

  #file-tree .file {
    display: block;
  }

  #file-tree .file:before {
    content: "🗒️ ";
  }
  
  /* Контекст меню */

  .fold-context-menu {
    margin: 0;
    counter-reset: div;
    list-style: none;
    background:#E8E8E8;
    padding: 10px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
  }
  .fold-context-menu div {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #787A77;
    transition: .3s linear;
    cursor: pointer;
  }
  .fold-context-menu div:last-child {margin-bottom: 0;}
  .fold-context-menu div:before {
    content: counter(div);
    counter-increment: div;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #787A77;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #787A77;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
  }
  .fold-context-menu div:hover {border-top: 2px solid #fc7a10;}
  .fold-context-menu div:hover:before {
    border: 2px solid #fc7a10;
    background: #217715;
  }